
#logo {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    font-weight: bold;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}
.offscreen {
    position: absolute;
    top: -30em;
    left: -300em;
}

div#hmenu {
    margin: 0;
    padding: .3em 0 .3em 0;
    background: black;
    width: 100%;
    text-align: center;
}

div#hmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#hmenu ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

div#hmenu ul a:link{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: white;
}

div#hmenu ul a:visited{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: purple;
}

div#hmenu ul a:active{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: blue;
}

div#hmenu ul a:hover{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: black;
    background-color: white;
}
li+li { border-left: 1px solid red }
#imgsep {
    border-right: 1px solid red;
    padding: .0em .9em .0em .0em;}

#seperated {
    padding-left: 40px !important;
}